*, ::after, ::before {
  box-sizing: border-box;
}

body{
  display: block;
  color: #fff;
  background-color: #080808;
  font-family: Outfit, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  min-height: 100%;
  margin: 0;
  padding-bottom: env(safe-area-inset-bottom);
  --wcm-z-index: 15000;
  --rt-opacity: 1;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}